
    .container {
      background-color: bisque;
      height: 410px;
      width: 290px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }

    .main {
      display: flex;
      flex-direction: row;
    }

    #display {
      height: 80px;
      width: 97.5%;
      background-color: bisque;
      border: none;
      text-align: right;
      font-size: 2rem;
      padding-right: 10px;
    }

    .column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 2px;
      width: 24%;
    }

    .box {
      position: relative;
      height: 60px;
      border: 2px;
      background-color: azure;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s;
    }

    .box:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    .rightBox {
      position: relative;
      height: 60px;
      border: 2px;
      background-color: rgb(188, 11, 11);
      color: white;
      text-align: center;
      font-size: 2rem;
      margin-bottom: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity 0.3s;
    }

    .rightBox:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    .last-row {
      display: flex;
      flex-direction: row;
      background-color: azure;
      margin-left: 1px;
      margin-right: 1px;
      text-align: center;
    }

    #zero {
      width: 49.5%;
      height: 75px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      transition: opacity 0.3s;
    }

    #zero:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    #dot {
      width: 25.5%;
      height: 75px;
      border-top: none;
      border-left: 2px solid bisque;
      border-right: 2px solid bisque;
      border-bottom: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      transition: opacity 0.3s;
    }

    #dot:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    #equal {
      width: 24%;
      height: 75px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(188, 11, 11);
      color: white;
      border: none;
      font-size: 2rem;
      transition: opacity 0.3s;
    }

    #equal:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  